<nav class="nav-container">
    <div class="logo-container">
        <h1 class="Brand">Oh my t-shirt</h1>
    </div>
    <ul class="nav_ul">
        <li class="nav_li"><a class="nav_a" href="/">Home</a></li>
        <li class="nav_li"><a class="nav_a" href="/realtimeproducts">Admin</a></li>
    </ul>
</nav>